/* Pull in shared styles */
@import url('reset.css');
@import url('accessibility.css');
@import url('layout.css');
@import url('typography.css');
@import url('masthead.css');
@import url('nav-base.css');

/* Styles for Single Level Menu */
@media screen and (min-width: 30em) {
    .single-nav ul {
        display: flex;
        /* justify-content: flex-end;   -  to align menu-items to right */
        /*justify-content: center;  - to center items in flex container */
        /*justify-content: space-around;  eql dist space between item boxes */
        justify-content: space-between; /* like space-around -left & right sides */
        flex-wrap: wrap; /* to wrap instead of squishing on small screens */
    }
    .single-nav li {
        /* Items grow to fill the space betweeen, 0 shrink means it will wrap
           Grow 1 means it will use all space so the menu directives above for
           right-aligning or centering will have no effect
        */
        flex: 1 0 auto;
        text-align: center; /* Display menu item text in center of box */
    }
}
